
.register-banner {
  display: flex;
  align-items: center;
  padding-left: 24px;
  width: 100%;
  height: calc(100vh * 0.16);
}

.register-banner a {
  color: #fff;
}

.register-form {
  width: 100%;
  min-height: calc(100vh - (100vh * 0.16));
  background-color: var(--color-light);
  color: var(--color-light-contrast);
  border-top-left-radius: 76px;
}

.register-form h1 {
  line-height: 1;
  font-size: 32px;
}
